<!DOCTYPE html>
<html>
<head>
    <title>Story 4 PPW - Extra Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-sm-12 order-lg-first order-first">
                <h1 id="h_ani">
                    Projects
                </h1>
            </div>

            <div class="col-lg-4 col-sm-8 order-lg-0 order-8 offset-1 offset-lg-0">
                <h1 id="h_ani_right">
                    Waifus
                </h1>
            </div>

            <div class="col-lg-4 col-sm-4 order-lg-8 order-0 description_box" id="box_ani">
                <h2 class="description_text">
                    <a href="https://github.com/racendol/o-dict">
                        o-dict
                    </a>
                    <p class="description_text">
                        A simple Python program that fetches the first entry from an online dictionary.
                    </p>
                    <p class="description_text">
                        Made for the final project of Foundation of Programming 1.
                    </p>
                </h2>
            </div>

            <div class="col-lg-auto col-sm-12 order-lg-12 order-8 offset-1 clearfix">
                <img src="{% static 'images/shiki-cut.png' %}" id="shiki" class="animu_pic">
                <p id="shiki_text" class="animu_pic p-sm-3">一ノ瀬志希</p>
                <img src="{% static 'images/riamu-cut.png' %}" id="riamu" class="animu_pic">
                <p id="riamu_text" class="animu_pic p-sm-3">夢見りあむ</p>
                <img src="{% static 'images/ranko-cut.png' %}" id="ranko" class="animu_pic">
                <p id="ranko_text" class="animu_pic p-sm-3">神崎蘭子</p>
            </div>

        </div>
    </div>
</body>
</html>