<!DOCTYPE html>
<html>
<head>
    <title>Story 4 PPW - Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
    {% include "navbar.html" %}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col offset-1">
                <img src="{% static 'images/self-photo.png' %}" id="foto_profil">
            </div>
            <div class="col pl-2">
                <h1>Hello,</h1>
                <h1>I'm Rocky Arkan</h1>
                <h1>
                    <p>And i loves fun things</p>
                </h1>
            </div>
        </div>

    
        <div class="row p-lg-5 description_row">
            <div class="col m-3 pl-1 description_box">
                <h2 class="description_text">
                    About Me:
                    <ul class="description_text">
                        <li>Proud Indonesian</li>
                        <li>Big fan of Japanese pop culture</li>
                        <li>Loves playing games</li>
                    </ul>
                </h2>
            </div>

            
            <div class="col m-3 pl-1 description_box">
                <h2 class="description_text">
                    Skills:
                    <ul class="description_text">
                        <li>Object-oriented Programming (Java & Python)</li>
                        <li>Game Development (Unity)</li>
                        <li>Japanese Language (JLPT N2)</li>
                    </ul>
                </h2>
            </div>

            <div class="col m-3  pl-1 description_box">
                <h2 class="description_text">
                    Track record:
                    <ul class="description_text">
                        <li>Currently studying as a Computer Science student in Universitas Indonesia</li>
                        <li>Junior member at RISTEK Game Development division</li>
                    </ul>
                </h2>
            </div>

        </div>

        <div class="row offset-2 p-2">
            <div class="col m-3">
                <a href="mailto:rocky.arkan@ui.ac.id">
                    <img src="{% static 'images/gmail-logo.png' %}" class="logo">
                </a>
            </div>

            <div class="col m-3">
                <a href="https://twitter.com/racendol_">
                    <img src="{% static 'images/twitter-logo.png' %}" class="logo">
                </a>
            </div>

            <div class="col m-3">
                <a href="https://github.com/racendol">
                    <img src="{% static 'images/github-logo.png' %}" class="logo">
                </a>
            </div>
        </div>
    </div>

</body>
</html>