<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F2F2F2;">
    <div class="navbar-collapse justify-content-center">
        <ul class="navbar-nav mx-auto" style="font-size:24px;">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'extra' %}">Extra</a>
            </li>
        </ul>
    </div>
</nav>

</body>


</html>