* {
    box-sizing: border-box;
  }

body{
    background: #0D0846;
}

#foto_profil{
    max-width: 68%;
    height: auto;
}

h1 {
    font-size: 6vw;
    color: #F2F2F2;    
}


p{
    font-size: 3vw;
}

.description_box{
    max-width: 100%;
    height: auto;
    background: #E5E5E5;
    box-shadow: 4px 0px 20px rgba(255, 255, 255, 0.5);
}

h2.description_text{
    padding: 2vw;
    font-weight: 600;
}

ul.description_text{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: normal;
}

p.description_text{
    font-size: 2vw;
    font-weight: normal;
}

.logo{
    width: 80px;
    height: 80px;
}

#h_ani{
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#h_ani_right{
    position: relative;
    opacity: 0;

    animation-name: slide2;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#box_ani{
    position: relative;
    opacity: 0;

    animation-name: slide;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.animu_pic{
    position: relative;
    max-width: 100%;
    height: auto;
    opacity: 0;

    animation-name: slide2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    box-shadow: 4px 0px 20px rgba(255, 255, 255, 0.5);
}

#shiki.animu_pic{
    animation-delay: 3s;
}

#riamu.animu_pic{
    animation-delay: 3.2s;
}

#ranko.animu_pic{
    animation-delay: 3.5s;
}

#shiki_text.animu_pic{
    color: #E5E5E5;
    animation-delay: 3.1s;
    box-shadow: initial;
}

#riamu_text.animu_pic{
    color: #E5E5E5;
    animation-delay: 3.3s;
    box-shadow: initial;
}

#ranko_text.animu_pic{
    color: #E5E5E5;
    animation-delay: 3.6s;
    box-shadow: initial;
}

@keyframes slide{
    0% {
        left:0%;
        opacity: 0;
    }
    100% {
        left: 5%;
        opacity: 1;
    }
}

@keyframes slide2{
    0%{
        right: 0%;
        opacity: 0;
    }

    100%{
        right: 5%;
        opacity: 1;
    }
}